<ion-header >
  <ion-toolbar color="dark">
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" color="medium">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"/>
        <h2>Willkommen zu unserem P5 Projekt: Columbus</h2>
        <p><b>Gruppenmitglieder:</b></p> <p>Merlin, Jesse, Leonard, Finn, Maurice und Jan</p>
          <ion-text slot="bottom" class="smallText">Wische um zur nächsten Seite zu kommen.</ion-text>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"/>
      <h2>Columbus</h2>
      <p><b>Columbus</b> ist ein Fahrzeug mit Modularen Aufsätzen. Das Fahrzeug und die Module können über diese App gesteuert werden.</p>
    </ion-slide>

    <ion-slide>
      <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"/>
      <h2>Einführung</h2>
      <p><b>Benutzung:</b> Auf der Dashboard Seite werden alle verfügbaren Module aufgelistet. Um eins zu benutzen einfach auf das angezeigte Modul klicken. 
        Das Dashboard sowie die Einstellungen werden über das seitliche Menu erreicht.</p>
    </ion-slide>

    <ion-slide>
      <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"/>
      <h2>Viel Spaß</h2>
      <ion-button color="success" fill="solid" routerLink="/menu/dashboard" routerDirection="root">Zum Dashboard<ion-icon  color="light" slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
