<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="dark">
      <ion-back-button defaultHref="menu/dashboard"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Einstellungen <ion-icon name="settings-outline"></ion-icon>
    </ion-title>

  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Darkmode</ion-label>
    </ion-item>
  </ion-list>
</ion-content>