<p>
  helloworld works!
</p>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Controller
      <ion-chip [color]=color>
        <ion-label>{{connectionState}}</ion-label>
      </ion-chip>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button (click)="conRotateH()">
      Rotate 10 deg horziontally
    </ion-button>

    <ion-button (click)="conRotateV()">
      Rotate 10 deg vertically
    </ion-button>
  </ion-card-content>

  <ion-list>
    <ion-item>
      <ion-label> hrot </ion-label>
      <ion-text> {{this.cameraController.getStateData("hrot")}} </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label> vrot </ion-label>
      <ion-text> {{this.cameraController.getStateData("vrot")}} </ion-text>
    </ion-item>
  </ion-list>

  <h2> Image </h2>
  <ion-img [src]=imgSource></ion-img>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Socket
      <ion-chip [color]=socketColor>
        <ion-label>{{socketState}}</ion-label>
      </ion-chip>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="openSocket()">
      Open Socket
    </ion-button>

    <ion-button (click)="closeSocket()">
      Close Socket
    </ion-button>

    <hr/>

    <ion-button (click)="connectCamera()">
      Connect Camera
    </ion-button>

    <ion-button (click)="disconnectCamera()">
      Disconnect Camera
    </ion-button>

    
    <hr/>

    <ion-button (click)="rotateH()">
      Rotate 10 deg horziontally
    </ion-button>

    <ion-button (click)="rotateV()">
      Rotate 10 deg vertically
    </ion-button>

    <ion-button (click)="updateImg()">
      Update image
    </ion-button>
  </ion-card-content>
</ion-card>